/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face { 
font-family: 'New Athletic M54';
src:url('New Athletic M54.ttf');
font-family:'Roboto-Regular';
src:url('Roboto-Regular.ttf');

}
 html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

 body {width:1000px; padding-top: 100px; width:1000px; background:url(images.jpg)}
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; padding-left:50px; border: none; font-family:Roboto-Regular; }
th { border-bottom: 1px solid #DDD; }
h1{
font-family:'New Athletic M54', sans-serif;}

input[type="submit"] {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-radius:5px;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #e0e0e0;
  background-position: 0 -15px;
}

#photo_produit {
padding-left:15px;
padding-top:15px;
border-radius:15px;
}
.box {
  display:inline-block;
  position: relative;
  width: 500px;
  height: 600px;
  float:left;
  margin-left:70px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 0%     0%     0%     0% /     0%     0%     0%     0%;
  font-family:'Roboto-Regular';
  font-size:15px;
  text-align:Justify;
  line-height: 20px;
}
.box:before {
      position: absolute;
      width: 98%;
      height: 25%;
      left: 1%;
      border-radius: 7%;
      z-index: -1;
      top: 0%;
      content: "";
      box-shadow: 0 -7px 9px rgba(0,0,0,0.41);
      }
.box:after {
      position: absolute;
      width: 98%;
      height: 25%;
      left: 1%;
      border-radius: 7%;
      z-index: -1;
      bottom: 0%;
      content: "";
      box-shadow: 0 7px 9px rgba(0,0,0,0.41);
      }
	
	.box2 {
	  display:inline-block;
	  float:right;
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
  border-radius: 0%     0%     0%     0% /     0%     0%     0%     0%;
  font-family:'Roboto-Regular';
  font-size:15px;
  text-align:Justify;
  line-height: 20px;
}
		.box2 h2 {
		text-align:center;
		}
.box:before {
      position: absolute;
      width: 98%;
      height: 25%;
      left: 1%;
      border-radius: 7%;
      z-index: -1;
      top: 0%;
      content: "";
      box-shadow: 0 -7px 9px rgba(0,0,0,0.41);
      }
.box:after {
      position: absolute;
      width: 98%;
      height: 25%;
      left: 1%;
      border-radius: 7%;
      z-index: -1;
      bottom: 0%;
      content: "";
      box-shadow: 0 7px 9px rgba(0,0,0,0.41);
      }